[submodule "lib/LovyanGFX"]
	path = lib/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
[submodule "lib/Qmi8658c"]
	path = lib/Qmi8658c
	url = https://github.com/ALICHOUCHENE/Qmi8658c.git
[submodule "lib/ESP32Time"]
	path = lib/ESP32Time
	url = https://github.com/fbiego/ESP32Time.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lib/NimBLE-Arduino"]
	path = lib/NimBLE-Arduino
	url = https://github.com/h2zero/NimBLE-Arduino.git
[submodule "lib/Timber"]
	path = lib/Timber
	url = https://github.com/fbiego/Timber.git
